<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.1.0">

<!--dislpay name for the app-->
<name>Pedometer</name>

<!--display icon for the app-->
<icon src="logo.png" />

<description>
A simple pedometer app.
</description>

<author href="https://www.biosparkinnovation.org" email="info@biosparkinnovation.org">
Biospark Innovation
</author>

</widget>
